[submodule "machamp"]
	path = machamp
	url = https://github.com/machamp-nlp/machamp.git
[submodule "xsid"]
	path = xsid
	url = https://github.com/mainlp/xsid.git
[submodule "UD_Bavarian-MaiBaam"]
	path = UD_Bavarian-MaiBaam
	url = https://github.com/UniversalDependencies/UD_Bavarian-MaiBaam.git
[submodule "BarNER"]
	path = BarNER
	url = https://github.com/mainlp/BarNER.git
[submodule "BarNER_Twitter"]
	path = BarNER_Twitter
	url = git@github.com:XaverKrueckl/BarNER_Twitter.git
[submodule "NaLiBaSID"]
	path = NaLiBaSID
	url = https://github.com/mainlp/NaLiBaSID.git
